<div class="article-page">
  <div class="banner">
    <div class="container">
      <h1>{{ article.title }}</h1>

      <app-article-meta [article]="article">
        <ng-container *ngIf="canModify">
          <a
            class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/editor', article.slug]"
          >
            <i class="ion-edit"></i> Edit Article
          </a>
          &nbsp;
          <button
            class="btn btn-sm btn-outline-danger"
            [disabled]="isDeleting"
            (click)="deleteArticle()"
          >
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </ng-container>
        <ng-container *ngIf="!canModify">
          <app-follow-button
            [profile]="article.author"
            (toggle)="onToggleFollow($event)"
          ></app-follow-button>
          &nbsp;&nbsp;
          <app-favorite-button
            [article]="article"
            (toogle)="onToggleFavorite($event)"
          >
            Favorite Post
            <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite-button>
        </ng-container>
      </app-article-meta>
    </div>
  </div>

  <div class="container page">
    <div class="row article-content">
      <div class="col-md-12">
        <h2 id="introducing-ionic">{{ article.description }}</h2>
        <div [innerHTML]="article.body | markdown"></div>

        <ul class="tag-list">
          <li
            *ngFor="let tag of article.tagList"
            class="tag-default tag-pill tag-outline"
          >
            {{ tag }}
          </li>
        </ul>
      </div>
    </div>

    <hr />

    <div class="article-actions">
      <app-article-meta [article]="article">
        <ng-container *ngIf="canModify">
          <a
            class="btn btn-sm btn-outline-secondary"
            [routerLink]="['/editor', article.slug]"
          >
            <i class="ion-edit"></i> Edit Article
          </a>
          &nbsp;
          <button
            class="btn btn-sm btn-outline-danger"
            [disabled]="isDeleting"
            (click)="deleteArticle()"
          >
            <i class="ion-trash-a"></i> Delete Article
          </button>
        </ng-container>

        <ng-container *ngIf="!canModify">
          <app-follow-button
            [profile]="article.author"
            (toggle)="onToggleFollow($event)"
          ></app-follow-button>
          &nbsp;
          <app-favorite-button
            [article]="article"
            (toogle)="onToggleFavorite($event)"
          >
            Favorite Post
            <span class="counter">({{ article.favoritesCount }})</span>
          </app-favorite-button>
        </ng-container>
      </app-article-meta>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-8 offset-md-2">
        <ng-container *appShowAuthed="true">
          <app-error-list [errors]="commentErrors"></app-error-list>

          <form class="card comment-form" (ngSubmit)="addComment()">
            <fieldset [disabled]="isSubmitting">
              <div class="card-block">
                <textarea
                  class="form-control"
                  placeholder="Write a comment..."
                  rows="3"
                  [formControl]="commentControl"
                ></textarea>
              </div>
              <div class="card-footer">
                <img [src]="currentUser.image" class="comment-author-img" />
                <button
                  class="btn btn-sm btn-primary"
                  type="submit"
                  [disabled]="isSubmitting || commentControl.invalid"
                >
                  Post Comment
                </button>
              </div>
            </fieldset>
          </form>

          <div
            class="error-messages"
            *ngIf="
              commentControl.invalid &&
              (commentControl.touched || commentControl.dirty) &&
              commentControl.errors?.notNull
            "
          >
            This fields is required.
          </div>
        </ng-container>

        <div *appShowAuthed="false">
          <a [routerLink]="['/login']">Sign in</a> or
          <a [routerLink]="['/register']">sign up</a> to add comments on this
          article.
        </div>

        <app-article-comment
          *ngFor="let comment of comments"
          [slug]="article.slug"
          [comment]="comment"
          (deleteComment)="onDeleteComment($event)"
        ></app-article-comment>
      </div>
    </div>
  </div>
</div>
