<div class="article-preview">
  <div class="article-meta">
    <a [routerLink]="['/profile', article.author.username]">
      <img [src]="article.author.image" />
    </a>
    <div class="info">
      <a [routerLink]="['/profile', article.author.username]" class="author">{{
        article.author.username
      }}</a>
      <span class="date">{{ article.createdAt | date: "longDate" }}</span>
    </div>

    <app-favorite-button
      [article]="article"
      (toogle)="onToggleFavorite($event)"
    >
      {{ article.favoritesCount }}
    </app-favorite-button>
  </div>
  <a [routerLink]="['/article', article.slug]" class="preview-link">
    <h1>{{ article.title }}</h1>
    <p>{{ article.description }}</p>
    <span>Read more...</span>
  </a>
</div>
