<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType === 'register'"
            >Have an account?</a
          >
          <a [routerLink]="['/register']" *ngIf="authType === 'login'"
            >Need an account?</a
          >
        </p>

        <app-error-list [errors]="errors"></app-error-list>

        <form [formGroup]="authForm" (ngSubmit)="submit()">
          <fieldset [disabled]="isSubmitting">
            <fieldset class="form-group" *ngIf="authType === 'register'">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Your Name"
                formControlName="username"
              />
              <div
                class="error-messages"
                *ngIf="username.invalid && (username.dirty || username.touched)"
              >
                <div *ngIf="username.errors?.required">
                  This field is required
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="text"
                placeholder="Email"
                formControlName="email"
              />
              <div
                class="error-messages"
                *ngIf="email.invalid && (email.dirty || email.touched)"
              >
                <div *ngIf="email.errors?.required">
                  This field is required
                </div>
                <div *ngIf="email.errors?.email">
                  This email address is invalid
                </div>
              </div>
            </fieldset>
            <fieldset class="form-group">
              <input
                class="form-control form-control-lg"
                type="password"
                placeholder="Password"
                formControlName="password"
              />
              <div
                class="error-messages"
                *ngIf="password.invalid && (password.dirty || password.touched)"
              >
                <div *ngIf="password.errors?.required">
                  This field is required
                </div>
                <div *ngIf="password.errors?.minlength">
                  This password should contain six characters or over
                </div>
              </div>
            </fieldset>
            <button
              type="submit"
              class="btn btn-lg btn-primary pull-xs-right"
              [disabled]="!authForm.valid"
            >
              {{ title }}
            </button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>
