<div class="auth-page">
  <div class="container page">
    <div class="row">
      <div class="col-md-6 offset-md-3 col-xs-12">
        <h1 class="text-xs-center">{{ title }}</h1>
        <p class="text-xs-center">
          <a [routerLink]="['/login']" *ngIf="authType === 'register'"
            >Have an account?</a
          >
          <a [routerLink]="['/register']" *ngIf="authType === 'login'"
            >Need an account?</a
          >
        </p>

        <ul class="error-messages">
          <li>That email is already taken</li>
        </ul>

        <form [formGroup]="authForm">
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Your Name"
              *ngIf="authType === 'register'"
              formControlName="username"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="text"
              placeholder="Email"
              formControlName="email"
            />
          </fieldset>
          <fieldset class="form-group">
            <input
              class="form-control form-control-lg"
              type="password"
              placeholder="Password"
              formControlName="password"
            />
          </fieldset>
          <button type="submit" class="btn btn-lg btn-primary pull-xs-right">
            {{ title }}
          </button>
        </form>
      </div>
    </div>
  </div>
</div>
